In [1]:
import pandas as pd

# Series

In [3]:
data = [1,2,3,4,5]

In [18]:
s = pd.Series(data)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [12]:
index = ['Linha' + str(i) for i in range(5)]
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [13]:
s = pd.Series(data, index)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [15]:
data = {'Linha' + str(i) : i + 1 for i in range (5)}
data

{'Linha0': 1, 'Linha1': 2, 'Linha2': 3, 'Linha3': 4, 'Linha4': 5}

In [17]:
s = pd.Series(data)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [23]:
s1 = s + 2
s1

Linha0    3
Linha1    4
Linha2    5
Linha3    6
Linha4    7
dtype: int64

In [25]:
s2 = s1 + s
s2

Linha0     4
Linha1     6
Linha2     8
Linha3    10
Linha4    12
dtype: int64

# DataFrame

In [27]:
data = [[1,2,3], [4,5,6], [7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [29]:
df1 = pd.DataFrame(data = data)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [32]:
index = ['Linha_' + str(i) for i in range(3)]
index

['Linha_0', 'Linha_1', 'Linha_2']

In [33]:
df1 = pd.DataFrame(data = data, index = index)
df1

         0  1  2
Linha_0  1  2  3
Linha_1  4  5  6
Linha_2  7  8  9

In [34]:
columns = ['Columns_' + str(i) for i in range(3)]
columns

['Columns_0', 'Columns_1', 'Columns_2']

In [36]:
df1 = pd.DataFrame(data = data, index = index, columns = columns)
df1

         Columns_0  Columns_1  Columns_2
Linha_0          1          2          3
Linha_1          4          5          6
Linha_2          7          8          9