# Relatório de Análise VII

## Criando Agrupamentos

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('dados/aluguel_residencial.csv', sep=';')
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0

# Estatisticas Descritiva
#### https://pandas.pydata.org/pandas-docs/stable/api.html#api-dataframe-stats

In [3]:
## Media geral
dados['Valor'].mean()

12952.659715265761

In [4]:
## Media por Bairro
bairros = ['Copacabana', 'Jardim Botânico', 'Barra da Tijuca', 'Centro','Higienópolis', 'Vista Alegre', 'Cachambi']
selecao = dados['Bairro'].isin(bairros)
dados = dados[selecao]
dados['Bairro'].drop_duplicates()

0         Copacabana
1    Jardim Botânico
2    Barra da Tijuca
3             Centro
4       Higienópolis
5       Vista Alegre
6           Cachambi
Name: Bairro, dtype: object

In [5]:
grupo_bairro = dados.groupby('Bairro')
type(grupo_bairro)

pandas.core.groupby.generic.DataFrameGroupBy

In [6]:
## Indexação do Dataframe
grupo_bairro.groups

{'Barra da Tijuca': Int64Index([    2,     7,    20,    22,    30,    35,    41,    44,    49,
                59,
             ...
             32922, 32923, 32924, 32927, 32939, 32940, 32941, 32942, 32943,
             32952],
            dtype='int64', length=6259),
 'Cachambi': Int64Index([    6,    77,   369,   377,   783,   943,  2079,  2533,  2559,
              2805,
             ...
             29624, 29975, 30349, 30729, 31301, 31377, 32360, 32403, 32434,
             32642],
            dtype='int64', length=163),
 'Centro': Int64Index([    3,     9,    10,    38,    45,    46,    52,    54,    72,
                86,
             ...
             32896, 32913, 32917, 32931, 32937, 32946, 32948, 32954, 32955,
             32959],
            dtype='int64', length=3258),
 'Copacabana': Int64Index([    0,    13,    14,    15,    33,    34,    39,    43,    58,
               123,
             ...
             32790, 32799, 32826, 32838, 32892, 32900, 32916, 32936, 32938,
             32945],
            dtype='int64', length=3186),
 'Higienópolis': Int64Index([    4,  1136,  1445,  3170,  3288,  5122,  6001,  6663, 10823,
             12171, 13009, 13136, 13813, 14955, 15939, 17125, 17332, 19844,
             20071, 21519, 22782, 22983, 25630, 25713, 27315, 27919, 27989,
             29056, 29272, 29389, 29458, 31696],
            dtype='int64'),
 'Jardim Botânico': Int64Index([    1,    53,    75,    79,   468,   489,   529,   663,   664,
               733,
             ...
             32235, 32296, 32301, 32336, 32409, 32561, 32704, 32723, 32868,
             32920],
            dtype='int64', length=350),
 'Vista Alegre': Int64Index([    5,  1534,  3139,  3986,  4966,  8034, 14567, 14832, 15010,
             16465, 17279, 17823, 19374, 20453, 22791, 26030, 30180, 30781,
             31620, 31649, 31650, 32288],
            dtype='int64')}

In [7]:
## Valor Médio por Grupo específico
for bairro, data in grupo_bairro:
    print('{} -> {}'.format(bairro, data.Valor.mean().round(2)))

Barra da Tijuca -> 9019.59
Cachambi -> 1855.44
Centro -> 19004.97
Copacabana -> 4509.83
Higienópolis -> 2525.0
Jardim Botânico -> 8779.8
Vista Alegre -> 1128.64

In [8]:
## Valor Médio por Grupo específico (simplificado)
grupo_bairro['Valor'].mean().round(2)

Bairro
Barra da Tijuca     9019.59
Cachambi            1855.44
Centro             19004.97
Copacabana          4509.83
Higienópolis        2525.00
Jardim Botânico     8779.80
Vista Alegre        1128.64
Name: Valor, dtype: float64

In [9]:
## Valor Médio por Grupo específico com Dataframe (simplificado)
grupo_bairro[['Valor', 'Condominio']].mean().round(2)

                    Valor  Condominio
Bairro
Barra da Tijuca   9019.59     3599.17
Cachambi          1855.44      493.85
Centro           19004.97     5247.40
Copacabana        4509.83     1211.94
Higienópolis      2525.00      212.00
Jardim Botânico   8779.80     1576.12
Vista Alegre      1128.64      224.07

## Estatisticas Descritiva

In [10]:
grupo_bairro['Valor'].describe().round(2)
## count = frequência
## mean = média
## std = desvio padrão
## min = valor min
## 25% = primeiro partio (25% abaixo do valor real, 75% acima)
## 50% = primeiro partio (50% abaixo do valor real, 50% acima) mediana
## 75% = primeiro partio (75% abaixo do valor real, 25% acima)
## max = Valor máximo q existe na tabela

,count,mean,std,min,25%,50%,75%,max
Bairro,,,,,,,,
Barra da Tijuca,6256.0,9019.59,30192.24,100.0,2000.0,3500.0,8000.0,738197.0
Cachambi,163.0,1855.44,3140.41,450.0,900.0,1100.0,1400.0,25000.0
Centro,3258.0,19004.97,59355.76,90.0,1000.0,3705.5,15000.0,950000.0
Copacabana,3185.0,4509.83,6413.41,100.0,1900.0,3000.0,4900.0,198000.0
Higienópolis,32.0,2525.00,3988.88,650.0,800.0,1025.0,1600.0,20000.0
Jardim Botânico,350.0,8779.80,11680.25,1100.0,3000.0,4000.0,9425.0,120000.0
Vista Alegre,22.0,1128.64,273.24,700.0,937.5,1150.0,1200.0,2000.0

In [11]:
grupo_bairro['Valor'].aggregate(['min', 'max', 'sum']).rename(columns = {'min': 'Mínimo', 'max':'Máximo', 'sum' :'Soma'})

                 Mínimo    Máximo        Soma
Bairro
Barra da Tijuca   100.0  738197.0  56426579.0
Cachambi          450.0   25000.0    302437.0
Centro             90.0  950000.0  61918200.0
Copacabana        100.0  198000.0  14363823.0
Higienópolis      650.0   20000.0     80800.0
Jardim Botânico  1100.0  120000.0   3072930.0
Vista Alegre      700.0    2000.0     24830.0

In [21]:
import matplotlib.pyplot as plt
import matplotlib as mpl
plt.rc('figure', figsize =(20, 10))10))

SyntaxError: invalid syntax (<ipython-input-21-bd058ac569ab>, line 7)