In [2]:
import pandas as pd

In [4]:
data  = [[1,2,3],[4,5,6],[7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [5]:
list('321')

['3', '2', '1']

In [7]:
df = pd.DataFrame(data,list('321'), list('zyx'))
df

   z  y  x
3  1  2  3
2  4  5  6
1  7  8  9

In [10]:
## Organizar pelo Ã­ndice das linhas
df.sort_index(inplace=True)
df

   z  y  x
1  7  8  9
2  4  5  6
3  1  2  3

In [13]:
## Organizar pelo label da linha e coluna
df.sort_index(inplace=True, axis =1)
df

   x  y  z
1  9  8  7
2  6  5  4
3  3  2  1

In [15]:
## Organizar por valor de linha
df.sort_values(by = 'x', inplace = True)
df

   x  y  z
3  3  2  1
2  6  5  4
1  9  8  7

In [17]:
## Organizar por valor de linha e coluna
df.sort_values(by = '3', axis = 1,inplace = True)
df

   z  y  x
3  1  2  3
2  4  5  6
1  7  8  9